<div class="flex flex-col items-center justify-center min-h-screen w-full bg-cover bg-center" style="background-image: url('<%= asset_path('herobg.png') %>');">

  <div class="absolute top-4 left-4 z-10">
    <%= inline_svg "icon.svg", class: "lg:h-12 lg:w-12 h-10 w-10" %>
  </div>

  <div class="absolute top-4 right-4 z-10">
    <a href="/auth/slack" class="btn-pixel-sm bg-forest text-white py-1 px-2 sm:py-2 sm:px-4 text-base md:text-lg 2xl:text-xl sm:text-sm hover:scale-105 transition-transform duration-300 flex items-center">
      <%= inline_svg "slack.svg", class: "h-3 w-3 sm:h-4 sm:w-4 mr-1" %>
      Sign In!
    </a>
  </div>

  <div class="text-center w-full mx-auto max-w-6xl flex flex-col px-4 sm:px-8 relative z-10">
    <div class="w-full md:w-2/3 mx-auto mb-8 sm:mb-12 mt-12 sm:mt-20 card-pixel p-4 sm:p-8 bg-bread text-center">
      <div class="mb-2 sm:mb-4">
        <h1 class="text-5xl md:text-7xl font-steven mb-2 sm:mb-4" style="text-shadow: -2px -2px 0 #583c28, 2px -2px 0 #583c28, -2px 2px 0 #583c28, 2px 2px 0 #583c28, 3px 3px 0 #2e2e1f; color: #d49d50;">THE JOURNEY</h1>
      </div>

      <h2 class="text-2xl sm:text-3xl md:text-4xl font-steven mb-4 sm:mb-8" style="color: #ac6d3c; text-shadow: 1px 1px 0 #f8e2b8, 2px 2px 0 rgba(88, 60, 40, 0.3);">A 3 week journey<br>into making!</h2>

      <div class="flex flex-col sm:flex-row gap-4 justify-center">
        <a href="/auth/slack" class="btn-pixel bg-forest text-white py-2 px-6 sm:py-3 sm:px-8 text-xl lg:text-2xl 2xl:text-3xl hover:scale-105 transition-transform duration-300 flex items-center justify-center">
          <%= inline_svg "slack.svg", class: "h-5 w-5 sm:h-6 sm:w-6 mr-2" %>
          <span>Embark!</span>
        </a>
      </div>

      <p class="mt-4 sm:mt-8 text-base sm:text-lg" style="color: #B94D3A; text-shadow: 1px 1px 0 #f8e2b8, 2px 2px 0 rgba(88, 60, 40, 0.2);">
        The Journey is running now, sign up now!
      </p>
    </div>
  </div>
</div>

<div class="flex flex-col items-center justify-center min-h-screen w-full bg-cover bg-center relative" style="background-image: url('<%= asset_path('section-bg.png') %>');">
  <!-- Step 1 - top right -->
  <div class="absolute top-[0%] right-[calc(30%-200px)] 2xl:right-[calc(33%-250px)]">
    <div class="p-3 md:p-5 text-center">
      <%= image_tag "marker.png", class: "w-8 lg:w-10 2xl:w-12 mx-auto mb-2" %>
      <h3 class="font-steven text-xl xl:text-5xl 2xl:text-7xl mb-2 text-[#F7E3B8]">Step 1</h3>
      <h4 class="font-steven text-lg xl:text-3xl 2xl:text-4xl mb-2 text-[#FAD79D] mt-2"> Create a Project! </h4>
      <p class="font-steven text-sm xl:text-base 2xl:text-2xl mb-2 text-[#F7E3B8] max-w-md 2xl:max-w-2xl mt-2">
        Create a project, download the hackatime extension and hack on something cool! Examples: build a personal website, build a video game, or hack together an atom bomb.

      </p>
    </div>
  </div>

  <!-- Step 2 - left middle -->
  <div class="absolute top-[25%] left-[calc(30%-300px)] 2xl:left-[calc(25%-350px)]">
    <div class="p-3 md:p-5 text-center">
      <%= image_tag "marker.png", class: "w-8 lg:w-10 2xl:w-12 mx-auto mb-2" %>
      <h3 class="font-steven text-xl xl:text-5xl 2xl:text-7xl mb-2 text-[#F7E3B8]">Step 2</h3>
      <h4 class="font-steven text-lg xl:text-3xl 2xl:text-4xl mb-2 text-[#FAD79D] mt-2"> Post updates and stonks!</h4>
      <p class="font-steven text-sm xl:text-base 2xl:text-2xl mb-2 text-[#F7E3B8] max-w-md 2xl:max-w-2xl mt-2">
        Post at least 10 updates over 5 dates to qualifiy for the prize and gamble on upto 5 projects by stonking them!
      </p>
    </div>
  </div>

  <!-- Step 3 - bottom right -->
  <div class="absolute bottom-[25%] right-[calc(17%-150px)] 2xl:right-[calc(20%-200px)]">
    <div class="p-3 md:p-5 text-center">
      <%= image_tag "marker.png", class: "w-8 lg:w-10 2xl:w-12 mx-auto mb-2" %>
      <h3 class="font-steven text-xl xl:text-5xl 2xl:text-7xl mb-2 text-[#F7E3B8]">Step 3</h3>
      <h4 class="font-steven text-lg xl:text-3xl 2xl:text-4xl mb-2 text-[#FAD79D] mt-2"> Profit </h4>
      <p class="font-steven text-sm xl:text-base 2xl:text-2xl mb-2 text-[#F7E3B8] max-w-md 2xl:max-w-2xl mt-2">
        Just wait for the event to be end. Vote and PROFIT! (yes, someone needs to write these steps better) Some text to make it the descripition longer oh god wow ayessa is amazing
      </p>
    </div>
  </div>
</div>

<div class="flex flex-col items-center justify-start min-h-screen w-full bg-cover bg-center relative" style="background-image: url('<%= asset_path('section-2-bg.png') %>');">
  <h1 class="text-[#336a48] text-5xl md:text-7xl font-steven mt-24 px-4 text-center">
    You could be building....
  </h1>

  <div class="grid grid-cols-1 md:grid-cols-3 gap-12 mt-12 px-4 w-full max-w-[90vw]">
    <div class="card-pixel p-6 bg-bread hover:scale-105 transition-transform duration-300">
      <div class="flex items-center mb-4">
        <img src="https://avatars.slack-edge.com/2024-11-09/8029267012720_580119a03125560c649b_original.png" class="w-12 h-12 rounded-full mr-3">
        <span class="font-bold text-[#583c28]">TheTridentGuy </span>
      </div>
      <p class="text-[#583c28] mb-4">
        Today I'm just playing around with it, and doing my best to make sense of it's strange Bluetooth behavior. It seems to reject all attempts to bond/connect, but still advertises BLE GATT services, so maybe Web Bluetooth is possible after all? Worst case, I'm going to have to break out the NRF dongle i have lying around, download the stupid native app, and do some Bluetooth sniffing.
      </p>
      <img src="https://hc-cdn.hel1.your-objectstorage.com/s/v3/603c6d5b93df3aece25bef147fa7f7038a314e24_img_0484.jpg" class="w-full">
    </div>

    <div class="card-pixel p-6 bg-bread hover:scale-105 transition-transform duration-300">
      <div class="flex items-center mb-4">
        <img src="https://avatars.slack-edge.com/2025-04-11/8747918575620_f69f4ade93affa62a949_original.png" class="w-12 h-12 rounded-full mr-3">
        <span class="font-bold text-[#583c28]">idksarah</span>
      </div>
      <p class="text-[#583c28] mb-4">
        hes ~130mm now, which is a much more acceptable size. case looks awesome and 'm gonna order pcb tmrw :3
      </p>
      <img src="https://hc-cdn.hel1.your-objectstorage.com/s/v3/717c758e7ac12b576c832d855878e7ebd17fd5e2_download_filename_a1fb7ca3caccbeb46126_journey.png" class="w-full">
    </div>

    <div class="card-pixel p-6 bg-bread hover:scale-105 transition-transform duration-300">
      <div class="flex items-center mb-4">
        <img src="https://avatars.slack-edge.com/2025-04-20/8769859625798_b6e6c4512004dfedeb04_original.png" class="w-12 h-12 rounded-full mr-3">
        <span class="font-bold text-[#583c28]">yessa</span>
      </div>
      <p class="text-[#583c28] mb-4">
        While playing around the variables, i accidentally made the box not zoom on click which i liked better. sooo i made a zoom button optionally so that u could still zoom, but also has a default of not zoominggg
        also i've added like button to select which character part u are customizing (huhu i need to speed run this tom t-t)
      </p>
      <img src="https://hc-cdn.hel1.your-objectstorage.com/s/v3/2a12074933ff7b0862b4e11dd103a217d778b31b_download_filename_35772272457579f62299_490987448_582782050860846_7138908349147509848_n.jpg" class="w-full">
    </div>
  </div>

  <div class="mt-12 mb-8" data-controller="orpheus-animation">
    <a href="/projects" class="btn-pixel bg-forest text-white py-3 px-6 text-2xl hover:scale-105 transition-transform duration-300 flex items-center"
       data-action="mouseenter->orpheus-animation#showImages mouseleave->orpheus-animation#hideImages">
      Explore Projects! <%= inline_svg "arrow-right.svg", class: "h-10 w-10 ml-2" %>
    </a>

    <div data-orpheus-animation-target="leftImage" class="fixed bottom-0 left-0 w-32 h-32 2xl:w-64 2xl:h-64 transition-all duration-500 ease-in-out transform translate-y-full opacity-0 z-50 scale-x-[-1] rotate-[25deg]">
      <%= image_tag "orpheustimer.png", class: "w-full h-full object-contain" %>
    </div>

    <div data-orpheus-animation-target="rightImage" class="fixed bottom-0 right-0 w-32 h-32 2xl:w-64 2xl:h-64 transition-all duration-500 ease-in-out transform translate-y-full opacity-0 z-50 rotate-[-25deg]">
      <%= image_tag "orpheustimer.png", class: "w-full h-full object-contain" %>
    </div>
  </div>
</div>
